{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Register</h1>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
{% endblock %}

<!--
    양식 필드를 하나씩 스타일 하는 대신 Flask-Bootstrap은 Flask-WTF 양식 객체를 인수로 받아들이고,
    Bootstrap 스타이을 사용하여 전체 양식을 렌더링하는 매크로와 함께 제공됨.

     wtf.quick_form() 한 줄의 코드로 디스플레이 유효성 검사 오류에 대한 지원을 포함하여,
                                    전체 양식을 렌더링하는 매크로가 추가되고 모두 Bootstrap 프레임 워크에 적합한 스타일로 지정.
-->