<p>Dear {{ user.username }},</p>
<p>
    To reset your password
    <a href="{{ url_for('reset_password', token=token, _external=True) }}">
        Click here
    </a>.
</p>
<p>Alternatively, you can paste the following link in your browser's address bar:</p>
<p>{{ url_for('reset_password', token=token, _external=True) }}</p>
<p>If you have not requested a password reset simply ignore this message.</p>
<p>Sincerely,</p>
<p>The Microblog Team</p>

<!--
@@ _external = True
    기본적으로 url_for()에 의해 생성되는 URL은 상대URL이다
    -> url_for ( 'user', username = 'susan') 호출은 /user/susan을 반환
    웹 브라우저는 현재 페이지에서 URL의 나머지 부분을 가져 오기 때문에
    일반적으로 웹 페이지에서 생성되는 링크에 충분함.
    but, 이메일로 URL을 보낼 때는 해당 컨텍스트(context)가 존재하지 않으므로 정규화된 URL을 사용해야함
   
    _externam = True 가 인수로 전달되면 전체 URL이 생성되므로
    이전 예제에서는 http://localhost:5000/user/susan 을 반환하거나
    응용프로그램이 도메인 이름에 배포 될 때 적적한 URL을 반환.

-->